# Part1: Read html table

In [1]:
import pandas as pd

#read html table data
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)[0]

## Drop data if Borough has the value 'Not assigned'.

In [2]:
# drop the rows if Borough has the value of 'Not assigned'
df.drop(df[df['Borough'] == 'Not assigned'].index, axis=0, inplace=True)

## Find rows Neighbourhood has the value, 'Not assigned' and replace their the value as the value of Borough

In [3]:
#find rows of 'Not assigned' value in Neighbourhood column
ndf=df.loc[df['Neighbourhood']=='Not assigned']

# If the value of Neighbourhood is 'Not assigned', it sets the same value of the Borough
df.replace(ndf.iloc[0, ndf.columns.get_loc('Neighbourhood')],ndf.iloc[0, ndf.columns.get_loc('Borough')],inplace=True)

## Merge the column of Neighbourhood if Postcode is same with a comma.

In [4]:
# Merge Neighbourhood if Borough has same value
df = df.groupby('Postcode', as_index=False).agg({'Borough' : 'first', 'Neighbourhood' : ', '.join })

## Data

In [5]:
df.head(20)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough                  Guildwood, Morningside, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough                                  Maryvale, Wexford
12      M1S  Scarborough                                          Agincourt
13      M1T  Scarborough            Clarks Corners, Sullivan, Tam O'Shanter
14      M1V  Scarborough  Agincourt North, L'Amoreaux East, Milliken, St...
15      M1W  Scarborough                                    L'Amoreaux West
16      M1X  Scarborough                                        Upper Rouge
17      M2H   North York                                  Hillcrest Village
18      M2J   North York                       Fairview, Henry Farm, Oriole
19      M2K   North York                                    Bayview Village

In [6]:
# size of dataframe
df.shape

(103, 3)

## Change Columns Name

In [8]:
df.columns = ['PostalCode', 'Borough', 'Neighborhood']
df.columns

Index(['PostalCode', 'Borough', 'Neighborhood'], dtype='object')

# Part 2: Read csv file and merge two dataframes

In [9]:
filename = 'http://cocl.us/Geospatial_data/Geospatial_Coordinates.csv'
gdf = pd.read_csv(filename) # geo file

# Merge two dataframe
mdf = pd.merge(df, gdf, how='inner', left_on = 'PostalCode', right_on = 'Postal Code')

# Drop column 'Postal Code'
mdf.drop('Postal Code', axis=1, inplace=True)
mdf

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054